<header>
    <div class="container">
        <div class="header-data">
            <nav>
                <ul>
                    <li>
                        <a href="/" title="home">
                            전체
                        </a>
                    </li>
                    <li>
                        <a href="/member" title="hot">
                            회원
                        </a>
                    </li>
                    <li>
                        <a href="/item" title="recruit">
                            상품
                        </a>
                    </li>
                    <li>
                        <a href="/order" title="recruit">
                            주문
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="menu-btn">
                <a href="javascript:;" title=""><i class="fa fa-bars"></i></a>
            </div> <!--menu-btn end-->
            <div class="m-login-btn">
                <a href="/"><i class="fa fa-power-off"></i></a>
            </div>
            <div class="m-search-btn">
                <a href="javascript:;" title=""><i class="fa fa-search icon"></i></a>
            </div><!--m-search-btn end-->
        </div>
    </div><!--header-data end-->
</header><!--header end-->